.page-index {

}

.my-carousel {
  background: #fff;
}

.my-carousel {
  display: inline-block;
  width: 100%;
  height: 270px;
  margin: 0;
  padding: 0;
}

.my-carousel img {
  width: 100%;
  vertical-align: top;
}

.my-list .spe .am-list-extra {
  flex-basis: initial;
}

.page-index .item-text {
  font-size: 0.55rem;
}

.page-index .grid-contia {
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: 35px;
  justify-content: center; //子元素水平居中
  align-items: center; //子元素垂直居中
  display: -webkit-flex;
}

.page-index .grid-text {
  position: relative;
  margin-top: 15px;
  font-size: 0.55rem;
  color: #666;
}

.page-index .grid-count {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
  border-radius: 13px;
  border: 1px solid rgba(102, 102, 102, 0.2);
  font-weight: 500;
  color: #666;
  font-size: 0.7rem;
  position: relative;
  justify-content: center; //子元素水平居中
  align-items: center; //子元素垂直居中
  display: -webkit-flex;
}
